@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);

* {
    font-family: 'Roboto', sans-serif;
}

#main {
    position: fixed;
    top:0;
    bottom:0;
    left:20%;
    right:20%;
    box-shadow: 0 0 9px lightgray;
    text-align: center;
}

#main_input {
    width: 45%;
    padding: 15px;
    border: 2px solid green;
    border-radius: 5px;
    margin: 5px;
}

#main_submit {
    width: 10%;
    padding: 20px;
    border: none;
    outline: none;
    background-color: lightgreen;
    color: black;
    border-radius: 5px;
}